.logo{
  background-image: url("../../../../assets/images/logo300-re-naissance-claire-body.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vw;
}
.entete{
  background-image: url("../../../../assets/images/accueil2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}
.container-fluid{
  min-height: 80vh;
}
.titleBand{
  background-color: #612C5D;
  color: white;
}
.pageTitle{
  font-size: 2em;
}
.back{
  font-size: 10px;
}
.arrow{
  font-size: 17px;
  line-height: 1.5;
}
.imgTitle {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  border-style: groove;
}
.listing {
  padding-right: 10px;
  padding-left: 10px;
}
.descript{
  padding :0 40px 40px 40px;
}
app-image:focus{
  outline: 0;
}
.vignette{
  cursor: pointer;
}