@import url("https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined");

.form-content{
  display: flex;
  flex-direction: column
}
a{
  color: #8b1461;
  font-weight: bold;
  font-size: small;
}