<div class="container-fluid">
    <div fxLayout="row">
        <div class="col p-0 entete">
            <div class="col-3 p-0 text-center logo"></div>
        </div>
    </div>
    <div fxLayoutAlign="center center " class="pageTitle titleBand">
        <div>{{ product?.category.title }}</div>
    </div>
    <button class="btn btn-sm " mat-flat-button (click)="backClicked()">
        <mat-icon class="material-icons arrow">arrow_back</mat-icon>
        <span class="back">Retour vers la page précédente</span>
    </button>
    <div fxLayoutAlign="center center " style="width: 100%">
        <mat-spinner *ngIf="loading" [diameter]="25" ></mat-spinner>
    </div >
    <div class="descript" *ngIf="product" fxLayout="row" fxLayoutAlign="center center ">
        <app-image
                [imgPath]="product.image.imgpath"
                [alt]="product.image.alt"
                routerLink="/product/detail/{{product.id}}">
        </app-image>
        <div >
            <div class="prodTitle">{{ product.name}}</div>
            <h6>Etat émotionnel :</h6>
            <div [innerHTML]="product.state | html" ></div>
            <h6>Effets positifs :</h6>
            <div [innerHTML]="product.effect | html"></div>
        </div>

    </div>
</div>
<app-cookie></app-cookie>
