<mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>

<mat-dialog-content>
    <div class="descript" *ngIf="product" fxLayout="row wrap" fxLayoutAlign="center center ">
        <app-image
                [imgPath]="product.image.imgpath"
                [alt]="product.image.alt"
                routerLink="/product/detail/{{product.id}}">
        </app-image>
        <div>
            <div class="prodTitle">{{ product?.category.title }} : {{ product.name}}</div>
            <h6>Etat émotionnel :</h6>
            <div [innerHTML]="product.state | html" class="texte"></div>
            <h6>Effets positifs :</h6>
            <div [innerHTML]="product.effect | html" class="texte"></div>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center center">
    <button mat-flat-button (click)="close()">Fermer</button>
</mat-dialog-actions>



