<div class="container-fluid" fxLayout="row wrap" fxLayoutAlign="space-around ">
    <div fxLayout="row wrap" fxLayoutAlign="space-around " style="width: 100%">
        <div class="vignettes" id="vignette1" fxLayoutAlign="center center">
            <button class="butText" mat-button (click)="toggleInfo()">Mes informations personnelles</button>
        </div>
        <div class="vignettes" id="vignette2" fxLayoutAlign="center center">
            <button class="butText" mat-button (click)="toggleRdv()">Mes rendez-vous</button>
        </div>
        <div class="vignettes" id="vignette3" fxLayoutAlign="center center">
            <button class="butText" mat-button (click)="toggleMessage()">Mes messages</button>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around " style="width: 100%">
        <div class="infoPerso" *ngIf="showInfo">
            <app-profile></app-profile>
        </div>
        <div class="infoRdv"
             *ngIf="showRdv"
             fxLayout="row wrap"
             fxLayoutAlign="space-around ">
            <div *ngIf="showRdv"
                 fxLayout="row"
                 fxLayoutAlign="space-around center">
                <div class="myTable">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <h4>Mes rendez-vous</h4>
                        <i class="material-icons" (click)="refreshRdv()">refresh</i>
                    </div>

                    <mat-spinner *ngIf="loading" [diameter]="25" ></mat-spinner>
                    <ng-container *ngIf="dayparts?.length > 0 ">
                        <table mat-table [dataSource]="dayparts" class="mat-elevation-z8">
                            <ng-container matColumnDef="date">
                                <th  mat-header-cell *matHeaderCellDef>Date</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.workingDay.daydate }}/
                                    {{ element.workingDay.daymonth }}/
                                    {{ element.workingDay.dayyear }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th  mat-header-cell *matHeaderCellDef>Heure</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.type.definition }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>Statut</th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.status.value == 10">En attente</span>
                                    <span *ngIf="element.status.value == 20">Confirmé</span>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </ng-container>
                    <ng-container *ngIf="dayparts?.length == 0 ">
                        <h5>Vous n'avez aucun rendez-vous dans votre liste</h5>
                    </ng-container>
                </div>
            </div>
            <app-calendar></app-calendar>

        </div>
        <div class="infoMessage"
             *ngIf="showMessage"
             style="width: 100%">
            <div class="matMessage" fxLayout="column" fxLayoutAlign="center">
                <mat-spinner *ngIf="loading2" [diameter]="25" ></mat-spinner>

                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <h5>Mes messages</h5>
                        <i class="material-icons" (click)="refreshMessage()">refresh</i>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th style="width: 95px">Date</th>
                            <th style="width: 20%">Objet</th>
                            <th style="width: 50%">Message</th>
                            <th style="width: 95px">Lu le</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngIf="emails?.length > 0 ">
                        <ng-container *ngFor="let email of emails">
                            <tr>
                                <th scope="row" >
                                    {{ email.createdAt.timestamp*1000 | date: 'dd/MM/yy'}}
                                </th>
                                <td>{{ email.object }}</td>
                                <td>{{ email.message }}</td>
                                <td >
                                    <span *ngIf="email.treated">
                                  {{ email.updatedAt.timestamp*1000 | date: 'dd/MM/yy'}}
                              </span>
                                </td>
                            </tr>
                        </ng-container>
                        </ng-container>
                        </tbody>
                    </table>
                    </div>

                <ng-container *ngIf="emails?.length == 0 ">
                    <h5>Vous n'avez aucun message dans votre liste</h5>
                </ng-container>
            </div>
            <app-email></app-email>
        </div>

    </div>

</div>