.logo{
  background-image: url("../../../assets/images/logo300-re-naissance-claire-body.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vw;
}
.entete{
  background-image: url("../../../assets/images/politik.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25vw;
}
.titleBand{
  background-color: #707070;
  color: white;
  font-size : 1.25em;
}
.textReg{
  margin: 50px 75px 50px 75px;
}