@import url("https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined");

.form-content{
  display: flex;
  flex-direction: column
}
#rgpd{
  font-size: smaller;
  color: #929292;
}
.registration{
  background-image: url("../../../assets/images/register2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;
}
mat-card{
  width: 300px;
  margin-bottom: 50px;
}
a{
  color: #8b1461;
  font-weight: bold;
}