<div fxLayout="row">
    <div class="col p-0 entete">
        <div class="col-3 p-0 text-center logo"></div>
    </div>
</div>
<div class="titleBand" fxLayoutAlign="center center ">
    <h1 class="pageTitle">Ateliers</h1>
</div>
<h3 class="presentation" >Ateliers enfants de 4 à 10 ans (8 à 10 enfants maximum) : 35 €</h3>
<mat-divider class="presentation" ></mat-divider>
<div fxLayout fxLayout.lt-lg="column" fxLayoutAlign="center center">
    <div class="presentation">
        <p> Ces ateliers se déroulent sur une durée de <strong>3 heures</strong></p>
        <p>Chaque enfant repart avec un flacon personnalisé d'élixirs floraux et de cristaux</p>
        <p>Avant l'atelier, vous recevrez par mail la liste des 38 elixirs de Bach et vous choisirez
            avec votre enfant 7 à 8 fleurs. Je lui préparerai son flacon personnalisé avec une feuille
            récapitulant les fleurs et leurs bienfaits.</p>
        <p>Déroulement de l'atelier :</p>
        <ul>
            <li>Jeux de respiration, de relaxation</li>
            <li>yoga, Brain Gym, Sophrologie,</li>
            <li>EFT, Méditation,</li>
            <li>Un moment autour des élixirs de fleurs et de cristaux</li>
            <li>Un moment créatif avec une production que l'enfant ramène chez lui,</li>
            <li>Un goûter : un moment convivial et de partage.</li>
        </ul>
        <p>Je reste à votre disposition par mail après l'atelier si vous souhaitez que je suive votre enfant.</p>
        <p>Ces ateliers se déroulent le <strong>MERCREDI matin (9h30 - 12h30) ou après-midi (14h00 - 17h00) :</strong>
        </p>
        <ul>
            <li>4 impasse de la Gemme - 33 830 LUGOS</li>
            <li>ou à votre domicile : si vous constituez un groupe de 5 enfants plus le votre, l'atelier vous
                est offert. J'ai seulement besoin d'une pièce assez spacieuse avec une table et un coin pour
                goûter. Si vous avez un jardin, c'est encore mieux !
            </li>
        </ul>
        <p>si vous êtes interessés, merci de me contacter afin que je mette en place un atelier, soit à Lugos,
            soit chez vous.</p>

    </div>
    <div fxLayout="column" fxLayout.lt-lg="row" fxLayout.lt-md="column" id="imgAtelier">
        <a class="assoLink"
           href="https://www.facebook.com/pages/category/Health---Wellness-Website/Terra-Bonheur-Les-petits-princes-de-la-TERRE-HAPPY--401521743914549/">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img id="couronne" src="../../../assets/images/couronne.png"/>
                <div fxLayout="column" fxLayoutAlign="center">
                    <p fxLayoutAlign="center"><b>Association Terra Bonheur</b></p>
                    <p><b>Les petits princes de la Terre Happy</b></p>
                </div>
            </div>
        </a>
        <img class="assoLink" id="atelier3" src="../../../assets/images/atelier3.jpg"/>
    </div>
</div>
<div class="presentation">
    <h3>Ateliers adultes : 25 €</h3>
    <mat-divider></mat-divider>
    <div fxLayout fxLayout.lt-lg="column" fxLayoutAlign="center center">
        <div class="presentation">
            <p>Ces ateliers se déroulent sur une durée de 2 heures</p>
            <p>Chaque participant repart avec un flacon personnalisé d'élixirs de Bach
                ou du Bush australien qu'il aura préparé lui-même.</p>
            <p>Chaque atelier est à théme :</p>
            <ul>
                <li>La fatigue et le stress,</li>
                <li>Les troubles dud sommeil,</li>
                <li>Les peurs et angoisses,</li>
                <li>L'estime et l'amour de soi (confiance en soi)</li>
                <li>La dépression, le burn out,</li>
                <li>Les enfants et l'école,</li>
                <li>Les addictions ...</li>
            </ul>
            <p>Aucune obligation de participer à tous les ateliers.</p>
            <p>Ce moment est un moment de partage où chacun peut parler librement.</p>
            <p>Je vous présenterai les élixir qui travaillenyt plus particulièrement sur le thème choisi.</p>
            <p>Vous préparez vous-même votre flacon personnalisé (flacon supplémentaire : 7 € le flacon)</p>
            <p>Ces ateliers se déroulent le <b>SAMEDI matin (10h00 - 12h00) ou après-midi (14h00 - 16h00) :</b></p>
            <ul>
                <li>4 impasse de la Gemme, 33830 Lugos</li>
                <li>ou à votre domicile : si vous constituez un groupe de 5 personnes (+ vous) l'atelier vous est
                    offert.
                </li>
            </ul>
            <p>Si un thème vous intéresse, merci de me contacter afin que je mette en place un atelier, soit à Lugos,
                soit chez vous.</p>
        </div>
        <img id="atelierAdulte" src="../../../assets/images/atelier.jpg"/>
    </div>

</div>
<app-cookie></app-cookie>
