<div class="container-fluid">
  <div fxLayout="row">
    <div class="col p-0 entete" >
      <div class="col-3 p-0 text-center logo"></div>
    </div>
  </div>
  <div class="titleBand" fxLayoutAlign="center center ">
    <h1 class="pageTitle">Re-naissance - Valérie Perez</h1>
  </div>
  <div  fxLayout fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div>
      <img id="val" src="../../../assets/images/val500.jpg" alt="valérie perez conseillère fleurs de bach lugos"/>
    </div>
    <div class="presentation" >
      <p>Enseignante et <b>conseillère agréée</b>, les <strong>fleurs de Bach</strong>  m'ont été envoyées comme un
        cadeau il y a presque 7 ans.</p>
      <p>Une amie très chère à mon coeur, m'a mis entre les mains
        "le rescue" et depuis ce jour, j'ai fait toutes les formations reconnues par le centre Bach.</p>
      <p>Très attirée par les elixirs, J'ai découvert et expérimenté les <strong>élixirs du Bush australien</strong>.
        J'ai été littéralement conquise par la pureté et la puissance énergétiques de ces fleurs
        tant sur mes clients que sur moi. Elles font partie de mon quotidien.
        Je me forme également aux <strong>élixirs de cristaux</strong> que je rajoute à chaque flacon personnalisé
        de fleurs.
        Depuis quelque temps, plusieurs clients viennent spontanément me consulter pour <strong>leurs
          animaux de compagnie</strong> et les résultats sont spectaculaires.
        Afin de mieux ressentir leurs émotions, je suis en train de me former à la <strong>communication animale</strong>.
        Afin d'optimiser mes séances, je propose également des soins Reiki.
        Les elixirs floraux et de cristaux font désormais partie intégrante de ma vie et c'est un
        pur bonheur de les faire découvrir aux personnes et aux animaux que je rencontre.
        La nature nous fait de merveilleux cadeaux et nous permet de soulager nos maux le plus
          simplement possible en harmonie avec la doctrine du <strong>Docteur Bach</strong>:</p>
      <span><strong>"Guéris-toi toi-même "</strong></span>
    </div>
  </div>
  <app-actu></app-actu>
</div>
<app-cookie></app-cookie>
