.logo{
	background-image: url("../../../assets/images/logo300-re-naissance-claire-body.png");
	background-size: cover;
	background-repeat: no-repeat;
    height: 25vw;
}
.entete{
	background-image: url("../../../assets/images/accueil.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
}
.presentation{
	margin: 30px;
}
#val{
	width: 400px;
	border-radius: 200px;
	margin: 30px;
}
.titleBand{
	background-color: #504F8E;
	color: white;

}
.pageTitle{
	font-size: 2em;
}
