.cookie{
  right: 30px;
  color: #707070;
  position: fixed;
  bottom: 30px;
  width: 40%;
  border-top-color: orange;
  border-top-style: solid;
  border-top-width: thick;
}

mat-card-actions{
  border-top-style: outset;
}
button{
  color: orange;
}
.politik{
  text-decoration: underline;
  cursor: pointer;
}