.logo{
	background-image: url("../../../assets/images/logo300-re-naissance-claire-body.png");
	background-size: cover;
	background-repeat: no-repeat;
    height: 25vw;
}
.entete{
	background-image: url("../../../assets/images/enteteNrj_1920x400.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
}
.titleBand{
	background-color: #FFAC4D;
	color: white;
}
.pageTitle{
	font-size: 2em;
}
.presentation{
	margin: 50px;
}
#reiki{
	height: 200px;
	margin: 50px;
}
#reiki2{
	margin: 50px;
}
a{
	color: #8b1461;
	font-weight: bold;
}
