<div class="row">
  <div class="col p-0 entete" >
    <div class="col-3 p-0 text-center logo"></div>	
  </div>  
</div>
<div class="titleBand" fxLayoutAlign="center center ">
  <div class="pageTitle">Soins énergétiques - Reiki</div>
</div>
<div  fxLayout fxLayout.lt-md="column" fxLayoutAlign="center center">

  <div class="presentation" >
    <p>Le reiki est une forme de thérapie alternative appelée <strong>« guérison énergétique »</strong>.
    Elle est apparue au Japon à la fin des années 1800 et on dit qu’elle implique le <strong>transfert
    d’énergie universelle</strong> des paumes de la main du praticien à son patient ;
    elle s’appuie sur le champ vibratoire de ce dernier.
    Le mot <strong>Reiki</strong> vient du japonais :
      <ul>
   <li>(REI) : Vie universelle,</li>
    <li>(Ki) : energie</li>
  </ul>
   <p> Il n’est affilié à aucune religion ou pratique religieuse.<p>
    <p>C’est un travail énergétique utilisant l’énergie de la force vitale.</p>
    <p>A la fin de notre entretien en élixirs de fleurs et de cristaux, je vous propose une séance
      de 30 minutes environ durant laquelle je rééquilibrerai <strong>vos centres énergétiques</strong>.</p>
    <p>J’insisterai plus particulièrement sur des points douloureux (physiques ou émotionnels)
      en alliant <strong>la puissance énergétique des élixirs</strong> que nous aurons choisis ensemble.</p>
  </div>
  <div>
    <img id="reiki" src="../../../assets/images/reiki.png" alt="reiki ideogramme japonnais"/>
  </div>
</div>
<div fxLayout fxLayout.lt-md="column" fxLayoutAlign="center center">
  <img id="reiki2" src="../../../assets/images/reiki2.jpg" alt="reiki soins énergétiques"/>
  <div class="presentation">
    <p>Pour toute information complémentaire vous pouvez me contacter:</p>
    <ul>
      <li>par téléphone : 06 - 84 -32 -47 -95</li>
      <li>par mail : en remplissant le formulaire de contact</li>
    </ul>
    <p>Vous pouvez également prendre rendez-vous en ligne en créant
      <a routerLink="/registration">votre espace personnel</a>
    </p>
  </div>
</div>