.logo{
	background-image: url("../../../assets/images/logo300-re-naissance-claire-body.png");
	background-size: cover;
	background-repeat: no-repeat;
    height: 25vw;
}
.entete{
	background-image: url("../../../assets/images/consultations.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
}
.titleBand{
	background-color: #3A368A;
	color: white;
}
.pageTitle{
	font-size: 2em;
}
.containerConsult{
	margin: 30px;
	padding:0;
}
.description{
	width: 400px;
	margin: 30px;
}
#connectButton{
	width: 300px;
}
.subtitle{
	margin: 25px;
}
.consult{
	margin: 0 50px;
}