x
.logo{
    background-image: url("../../../assets/images/logo300-re-naissance-claire-body.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vw;
}
.entete{
    background-image: url("../../../assets/images/wallhaven.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}
.titleBand{
    background-color: #612C5D;
    color: white;
}
.pageTitle{
    font-size: 2em;
}
.descript{
    padding :40px 40px 0px 40px;
}